<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count > 1 ? "#{@user.errors.count} errores." : "#{@user.errors.count} error." %> no se puede guardar el usuario:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :repita_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Cámaras
      </label>  
    </div>
  </div>

  <% @camaras.each do |camara| %>
    <div class="line-forme" style="margin-left:50px">
      <div class="forme-lab">

        <%= check_box_tag "camara_ids[]", camara.id, @user.camaras.member?(camara), :id => "CheckBox_#{camara.id}", :onclick => "checkBox_click(this)"-%>
        <%= h camara.ubicacion -%>
      </div> 
    </div>
  <% end %>
  
  <div class="form-actions">
    <%= f.submit :Crear, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn' %>
  </div>
<% end %>
