<% if current_user && current_user.name == "Admin" %>
<%- model_class = User -%>
<div class="page-header">
  <h1>Usuarios registrados</h1>
</div>

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td>
          <%= link_to "Agregar cámara", edit_user_path(user), :class => 'btn btn-mini' %>
          <% if user.name != "Admin" %>
          <%= link_to "Borrar", user_path(user), :method => :delete, :data => { :confirm => "Seguro deseas borrar este usuario" }, :class => 'btn btn-mini btn-danger' %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
