<% if current_user && current_user.name == "Admin" %>
<%- model_class = User -%>

<h1>Usuario</h1>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nombre) %>:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>

<div class="line-forme">
    <div class="forme-lab">
      <label> 
        C치maras de <%= @user.name%>
      </label>  
    </div>
  </div>
  
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ubicacion) %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.camaras.each do |camara| %>
      <tr>
        <td><%= @user.camaras.length == 0 ? "No posee c치maras registradas." : (link_to camara.ubicacion, camara_path(camara)) %></td>  
      </tr>
    <% end %>
  </tbody>
</table>
 

<div class="form-actions">
  <%= link_to "Atr치s", users_path, :class => 'btn'  %>
  <%= link_to "Editar", edit_user_path(@user), :class => 'btn' %>
  <%= link_to "Eliminar", user_path(@user), :method => 'delete', :data => { :confirm => 'Est치 seguro que desea eliminar este usuario?'}, :class => 'btn btn-danger' %>
</div>
<% end %>
