<%= form_for(@camara) do |f| %>
  <% if @camara.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camara.errors.count, "error") %> prohibited this camara from being saved:</h2>

      <ul>
      <% @camara.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ubicacion %><br />
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
